<header class="container" [ngClass]="{'page-scroll-header': isScrolled && !showMenu, 'dark-header': currPos > 100 && !showMenu}">
  <img src="assets/logo.svg" routerLink="/">
  <div (click)="toggleMenu()" id="nav-icon" [ngClass]="showMenu ? 'open' : ''">
    <span></span>
    <span></span>
    <span></span>
  </div>
</header>
<nav [ngClass]="showMenu ? 'show-menu' : ''">
  <img src="../../assets/me_circle.png" alt="Josh Diaz" routerLink="/">
  <ul>
    <li *ngFor="let item of menuItems">
      <a routerLink="{{item.link}}" routerLinkActive="active" [ngClass]="item.className">{{item.name}}</a>
    </li>
  </ul>
</nav>
