<header [ngClass]="{'page-scroll-header': isScrolled && !showMenu, 'dark-header': currPos > 150 && !showMenu}">
  <div class="container">
    <img *ngIf="(currPos <= 150 || !currPos) && !showMenu" src="assets/logo.svg" routerLink="/">
    <img *ngIf="currPos > 150 || showMenu" src="assets/logo-white.svg" routerLink="/">
    <div (click)="toggleMenu()" id="nav-icon" [ngClass]="showMenu ? 'open' : ''">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</header>
<nav [ngClass]="showMenu ? 'show-menu' : ''">
  <div class="container menu-content">
    <ul>
      <li *ngFor="let item of menuItems">
        <a routerLink="{{item.link}}" routerLinkActive="active" [ngClass]="item.className">
          <span>{{item.name}}</span>
        </a>
      </li>
    </ul>
    <div class="social-media">
      <a href="https://www.linkedin.com/in/joshmdiaz/"><span class="socicon-linkedin"></span></a>
      <a href="https://github.com/JoshMDiaz" target="_blank"><span class="socicon-github"></span></a>
      <a href="https://www.facebook.com/josh.m.diaz" target="_blank"><span class="socicon-facebook"></span></a>
      <a href="https://twitter.com/JoshDiaz32" target="_blank"><span class="socicon-twitter"></span></a>
    </div>
    <p class="contact-email">
      <a href="mailto:joshua.michael.diaz@gmail.com">
        <span>Drop an email</span>
        <span class="socicon-mail"></span>
      </a>
    </p>
  </div>
</nav>
