@import '../../scss/colors';

header {
  position: absolute;
  z-index: 10;
  top: 0;
  padding: 20px 30px;
  width: calc(100vw - 60px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  img {
    height: 30px;
    cursor: pointer;
  }
}
#nav-icon {
  width: 30px;
  height: 25px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: $white-color;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
  span:nth-child(1) {
    top: 0px;
    left: -10px;
  }
  span:nth-child(2),span:nth-child(3) {
    top: 10px;
  }
  span:nth-child(4) {
    top: 21px;
  }
  &.open span:nth-child(1) {
    top: 10px;
    width: 0%;
    left: 50%;
  }
  &.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  &.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  &.open span:nth-child(4) {
    top: 10px;
    width: 0%;
    left: 50%;
  }
}
nav {
  position: absolute;
  z-index: 100;
  background: linear-gradient(150deg, $primary-text-color 25%, lighten($primary-text-color, 15%) 65%, lighten($primary-text-color, 25%) 85%);
  width: 100%;
  text-align: center;
  font-size: 2em;
  height: calc(100vh - 70px);
  top: 70px;
  right: -100vw;
  transition: .5s ease-in-out;
  &.show-menu {
    right: 0;
  }
  a {
    display: block;
    padding: 20px;
    text-decoration: none;
    color: lighten($primary-text-color, 40%);
    &.active {
      &.my-work {
        background: -webkit-linear-gradient(150deg,#9b4be3 15%,#7857fc 70%,#b8cffc 94%);
        background: linear-gradient(150deg,#9b4be3 15%,#7857fc 70%,#b8cffc 94%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      &.about-me {
        background: -webkit-linear-gradient(150deg,#ff6a33 15%,#ffaa05 70%,#f5ffa6 94%);
        background: linear-gradient(150deg,#ff6a33 15%,#ffaa05 70%,#f5ffa6 94%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      &.reach-out {
        background: -webkit-linear-gradient(150deg,#53f 15%,#05d5ff 70%,#a6ffcb 94%);
        background: linear-gradient(150deg,#53f 15%,#05d5ff 70%,#a6ffcb 94%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
  img {
    width: 80vw;
    max-width: 450px;
    clip-path: circle(85px at center);
    margin: 1em;
  }
}
