@import '../../scss/colors';
footer {
  background: $primary-text-color;
  padding: 20px;
  text-align: center;
  color: darken($white-color, 50%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  .footer-content {
    margin-bottom: 2em;
  }
  .navigation-links, .social-media-links {
    margin: 0 auto 1em auto;
    display: flex;
    justify-content: space-around;
    max-width: 300px;
    align-items: center;
    a {
      color: darken($white-color, 50%);
      text-decoration: none;
      font-weight: 900;
      transition: all 0.3s ease-in-out 0s;
      position: relative;
      padding: 5px;
      &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: $white-color;
        visibility: hidden;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
      }
      &:hover {
        color: $white-color;
        &:before {
          visibility: visible;
          -webkit-transform: scaleX(1);
          transform: scaleX(1);
        }
      }
    }
  }
}
.cta-section {
  padding: 50px;
  background: linear-gradient(150deg, $primary-text-color 15%, darken($primary-text-color, 10%) 65%, darken($primary-text-color, 20%) 93%);
  h3, h4 {
    color: $white-color;
    margin-bottom: 30px;
    line-height: 1.3em;
  }
  h3 {
    font-size: 1.7em;
    font-weight: 500;
  }
  h4 {
    font-size: 1.3em;
    font-weight: 300;
    opacity: .7;
  }
}

@media only screen and (min-width: 768px) {
  .cta-section {
    text-align: center;
    h3 {
      font-size: 2em;
      font-weight: 500;
      line-height: 1.3em;
    }
    h4 {
      font-size: 1.5em;
      font-weight: 300;
      opacity: .7;
    }
  }
}
