@import '../../scss/colors';
footer {
  background: $primary-text-color;
  padding: 20px;
  text-align: center;
  color: darken($white-color, 50%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.cta-section {
  padding: 50px;
  background: linear-gradient(150deg, $primary-text-color 15%, darken($primary-text-color, 10%) 65%, darken($primary-text-color, 20%) 93%);
  h3, h4 {
    color: $white-color;
    margin-bottom: 30px;
    line-height: 1.3em;
  }
  h3 {
    font-size: 1.7em;
    font-weight: 500;
  }
  h4 {
    font-size: 1.3em;
    font-weight: 300;
    opacity: .7;
  }
}

@media only screen and (min-width: 768px) {
  .cta-section {
    text-align: center;
    h3 {
      font-size: 2em;
      font-weight: 500;
      line-height: 1.3em;
    }
    h4 {
      font-size: 1.5em;
      font-weight: 300;
      opacity: .7;
    }
  }
}
