@import '../../scss/colors';

footer {
  padding: 20px;
  border-top: 1px solid darken($white-color, 50%);
  text-align: center;
  color: darken($white-color, 50%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  .footer-content {
    margin-bottom: 2em;
  }
  .navigation-links, .social-media-links {
    margin: 0 auto 1em auto;
    display: flex;
    justify-content: space-around;
    max-width: 300px;
    align-items: center;
    a {
      color: darken($white-color, 50%);
      text-decoration: none;
      font-weight: 900;
      transition: all 0.3s ease-in-out 0s;
      position: relative;
      padding: 5px;
      &:hover {
        color: $white-color;
      }
    }
  }
}
.cta-section {
  padding: 50px;
  h3, h4 {
    color: $white-color;
    margin-bottom: 30px;
    line-height: 1.3em;
  }
  h3 {
    font-size: 1.7em;
    font-weight: 500;
  }
  h4 {
    font-size: 1.3em;
    font-weight: 300;
    opacity: .7;
  }
}

@media only screen and (min-width: 768px) {
  .cta-section {
    text-align: center;
    h3 {
      font-size: 2em;
      font-weight: 500;
      line-height: 1.3em;
    }
    h4 {
      font-size: 1.5em;
      font-weight: 300;
      opacity: .7;
    }
  }
}
