<div class="cta-section">
  <h3>Creating Modern Websites and Apps for the Modern Consumer</h3>
  <h4>Have an idea? Need a website for your company?</h4>
  <contact-button></contact-button>
</div>
<footer>
  <div class="footer-content">
    <div class="navigation-links">
      <a href="/my-work">My Work</a>
      <span> | </span>
      <a href="/about-me">About Me</a>
      <span> | </span>
      <a href="/reach-out">Reach Out</a>
    </div>
    <div class="social-media-links">
      <a href="https://www.linkedin.com/in/joshmdiaz/"><span class="socicon-linkedin"></span></a>
      <a href="https://github.com/JoshMDiaz" target="_blank"><span class="socicon-github"></span></a>
      <a href="https://www.facebook.com/josh.m.diaz" target="_blank"><span class="socicon-facebook"></span></a>
      <a href="https://twitter.com/JoshDiaz32" target="_blank"><span class="socicon-twitter"></span></a>
    </div>
  </div>
  <span>© {{year}} Josh Diaz Design</span>
</footer>
