<app-header></app-header>
<app-banner page="about-me" main-banner-text="This is me" secondary-banner-text="Developer.&nbsp;&nbsp;Tennis.&nbsp;&nbsp;Entrepreneur."></app-banner>
<div class="gray-section">
  <div class="container">
    <div class="about-me-section">
      <section-header text="Some Things About Me"></section-header>
      <p>My name is Josh Diaz. I am a professional Web and App Developer. I specialize in Front-end development. I have a passion for the UI/UX aspect as well as the programming aspect of devloping beautiful products.</p>
      <p>I have been programming since I could walk. Just kidding, I was never a child prodigy. I have, however, always had the desire to excel at whatever I have been passionate about. Fortunately, I love this work.</p>
      <p>I attended Utah Valley University and studied Internet Technologies in the Digital Media program. I am continually looking for freelance work. I love building web and mobile applications. I am always trying to improve my skillset so I can produce the best products possible. If you are interested in creating a website, mobile application or simply adding to the value of a website that you currently have, then please contact me to get started!!</p>
    </div>
  </div>
</div>
<div class="section">
  <div class="container">
    <section-header text="Boasting My Skills"></section-header>
    <md-list>
      <md-list-item *ngFor="let skill of skills">
        <p>
          <md-icon>done</md-icon>
          <span> {{skill.name}}</span>
        </p>
        <md-progress-bar
          [color]="'primary'"
          [mode]="'determinate'"
          [value]="skill.value">
        </md-progress-bar>
      </md-list-item>
    </md-list>
  </div>
</div>
<div class="gray-section">
  <div class="container">
    <testimonials></testimonials>
  </div>
</div>
<app-footer></app-footer>
