@import "../../scss/colors";

.card-list {
  portfolio-tile, gallery-list-item {
    margin-bottom: 2em;
    display: block;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

@media only screen and (min-width: 768px) {
  .card-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    portfolio-tile {
      flex: 1;
      margin: 1em 1%;
    }
    gallery-list-item {
      margin: 0 !important;
      padding: 10px;
      flex: 1;
      flex-basis: 31%;
      display: flex;
    }
  }
}
