<app-header></app-header>
<app-banner page="my-work" main-banner-text="My work" secondary-banner-text="Some projects I've worked on."></app-banner>
<div class="gray-section">
  <div class="container">
    <section-header text="Check Out These Websites"></section-header>
    <div class="card-list">
      <portfolio-tile *ngFor="let tile of tiles" [tile]="tile"></portfolio-tile>
    </div>
  </div>
</div>
<div class="section">
  <div class="container">
    <section-header text="Mobile App Examples"></section-header>
    <div>
      <p class="text-center">Applications under development...</p>
    </div>
  </div>
</div>
<div class="gray-section">
  <div class="container">
    <section-header text="Some of My Design Concepts"></section-header>
    <div class="card-list">
      <gallery-list-item *ngFor="let concept of concepts" [image]="concept"></gallery-list-item>
    </div>
  </div>
</div>
<app-footer></app-footer>
