<app-header></app-header>
<app-banner page="my-work" main-banner-text="My work" secondary-banner-text="Some projects I've worked on."></app-banner>
<div class="container">
  <h2 class="section-header">Take a Look at These Examples</h2>
  <md-icon class="section-header-icon">keyboard_arrow_down</md-icon>
  <div class="card-list">
    <portfolio-tile title="Taylored Ties" logo="../assets/taylored-ties.png" id="1"></portfolio-tile>
    <portfolio-tile title="Shyanne Diaz" logo="../assets/shyanne-diaz.png" id="2"></portfolio-tile>
    <portfolio-tile title="Ronin Dragon Karate" logo="../assets/rdk.png" id="3"></portfolio-tile>
  </div>
</div>
<app-footer></app-footer>
