@import '../../scss/colors';

.banner {
  color: $primary-text-color;
  position: relative;
  overflow-x: hidden;
  min-height: 100vh;
  display: flex;
  .banner-content {
    z-index: 10;
    text-align: center;
    animation: .75s ease-in-out zoomIn;
    h2 {
      font-size: 3em;
      text-transform: uppercase;
      font-family: 'Khula', sans-serif;
    }
    h3 {
      margin: 0;
      font-size: 1.5em;
      line-height: 1.5em;
      font-weight: 900;
      @include purple-gradient-background();
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    contact-button {
      display: block;
      margin-top: 2em;
    }
  }
}

@media only screen and (min-width: 600px) {
  .banner {
    .banner-content {
      h2 {
        font-size: 4em;
      }
      h3 {
        font-size: 2em;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .banner {
    .banner-content {
      h2 {
        font-size: 5em;
      }
      h3 {
        font-size: 2.5em;
      }
    }
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  80% {
    opacity: 1;
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
