<!-- Header here -->
<!-- Logo -->
<!-- Menu - maybe a hamburger in all screen sizes? -->
<app-header></app-header>
<div class="banner">
  <div class="rect rect-1"></div>
  <div class="rect rect-2"></div>
  <div class="rect rect-3"></div>
  <div class="rect rect-4"></div>
  <div class="rect rect-5"></div>
  <div class="container">
    <div class="banner-content-wrapper">
      <div class="banner-content">
        <h2>Josh M Diaz</h2>
        <h3>Design. Development. Experience.</h3>
        <button md-raised-button (click)="openContactModal()">Hire Me!</button>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <md-grid-list cols="3" rows="1" rowHeight="300px">
    <md-grid-tile
      *ngFor="let tile of tiles"
      [colspan]="1"
      [style.background]="tile.img || tile.color"
      [style.background-repeat]="'no-repeat'"
      [style.background-position]="'50% 100%'">
      {{tile.text}}
    </md-grid-tile>
  </md-grid-list>
</div>
