@import '../../scss/colors';
button {
  font-size: 1.9em;
  background: none;
  border: 2px solid transparent;
  border-image: linear-gradient(to right, $blue-color, $green-color);
  border-image-slice: 1;
  padding: 15px 30px;
  background: -webkit-linear-gradient(right, $blue-color, $green-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 1px;
  &.reach-out {
    background: none;
    border: 2px solid transparent;
    border-image: linear-gradient(to right, $white-color, darken($white-color, 10%));
    border-image-slice: 1;
    background: -webkit-linear-gradient(right, $white-color, darken($white-color, 10%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
