/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import './scss/reset';
@import './scss/colors';

// Body
body {
  font-family: 'Roboto', sans-serif;
  background: $white-color;
  font-size: 16px;
}
.container {
  max-width: 1200px;
  margin: auto;
}

// Buttons
button {
  transition-property: all !important;
  &:hover {
    transform: translateY(-1px);
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
    color: lighten($primary-text-color, 20%) !important;
  }
}

@media only screen and (min-width: 768px) {
  md-grid-tile figure.mat-figure {
    align-items: flex-start !important;
    padding: 45px !important;
    font-size: 1.5em !important;
  }
}
