/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import './scss/reset';
@import './scss/colors';

// Body
body {
  font-family: 'Roboto', sans-serif;
  background: $white-color;
  font-size: 16px;
  color: $primary-text-color;
}
p {
  font-size: 1.4em;
  line-height: 1.5em;
  margin-bottom: 1em;
}
.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 30px;
}

app-header {
  display: flex;
  justify-content: center;
}

// Buttons
button {
  transition-property: all !important;
  &:hover {
    transform: translateY(-1px);
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
    &:not(.mat-primary) {
      color: lighten($primary-text-color, 20%) !important;
    }
  }
  &.mat-fab {
    .mat-button-wrapper {
      line-height: 0;
    }
  }
}

// Sections
.section, .gray-section, .black-section {
  padding: 50px 0;
}
.gray-section {
  background: $gray-background-color;
  .section-header {
    margin-top: 0;
  }
}
.black-section {
  background: $black-background-color;
  color: $white-color;
  .section-header {
    margin-top: 0;
  }
}
.section-header {
  font-size: 2em;
  margin: 1em;
  text-align: center;
}
.section-header-icon {
  font-size: 3em;
  width: auto !important;
  display: block !important;
  margin: -20px auto 30px;
  text-align: center;
  &:hover {
    animation: .25s ease-in-out bounceDown;
  }
}

// Material Design Defaults
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: $blue-color;
}
.mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: $blue-color;
}
.mat-toolbar {
  background: $primary-text-color;
  height: 70px;
}

@media only screen and (min-width: 768px) {
  .section-header-icon {
    margin: -20px auto 20px;
  }
}

@keyframes bounceDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px);
  }
  0% {
    transform: translateY(0);
  }
}
