$primary-text-color: #333;
$white-color: #FFF;

$tile-work-color: rgba(50, 208, 179, 0.6);
$tile-me-color: rgba(66, 107, 199, 0.6);
$tile-reach-out-color: rgba(50,141,208,.6);

$blue-color: #4fcad6;
$green-color: #32d08e;
