$primary-color: #D03235;
$primary-text-color: #333;
$white-color: #FFF;

$banner-color: #555;
$tile-work-color: rgba(208,50,53,.6);
$tile-me-color: rgba(127,50,208,.6);
$tile-reach-out-color: rgba(50,141,208,.6);

$blue-color: #4fcad6;
$green-color: #32d08e;
