<app-header></app-header>
<app-banner page="home" main-banner-text="Josh M Diaz" secondary-banner-text="Design.&nbsp;&nbsp;Development.&nbsp;&nbsp;Experience."></app-banner>
<div class="gray-section">
  <div class="container">
    <h2 class="section-header">Take a Look Around</h2>
    <i class="material-icons" class="section-header-icon material-icons">keyboard_arrow_down</i>
    <div class="list-card">
      <md-grid-list cols="3" rows="1" rowHeight="300px">
        <md-grid-tile *ngFor="let tile of tiles" [colspan]="1" routerLink="{{tile.link}}" [style.background]="tile.img || tile.color" [style.background-repeat]="'no-repeat'" [style.background-position]="'50% 50%'" [style.background-size]="'cover'">
          <div class="overlay {{tile.overlayClass}}">
            {{tile.text}}
          </div>
        </md-grid-tile>
      </md-grid-list>
    </div>
  </div>
</div>
<div class="black-section">
  <div class="container">
    <h2 class="section-header">What You Can Expect From Me</h2>
    <div class="icon-bullet-points">
      <div class="icon-bullet-point" *ngFor="let bullet of bullets">
          <span><i class="material-icons">{{bullet.icon}}</i> {{bullet.title}}</span>
          <p class="description">{{bullet.description}}</p>
      </div>
    </div>
  </div>
</div>
<div class="gray-section">
  <div class="container">
    <h2 class="section-header">Kind Words About Me</h2>
    <testimonials></testimonials>
  </div>
</div>
<app-footer></app-footer>
