@import '../../scss/colors';

// Navigation Tiles
.overlay {
  color: $white-color;
  font-size: 2em;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  &.work {
    background: linear-gradient(to bottom, $tile-work-color, lighten($tile-work-color, 10%));
  }
  &.me {
    background: linear-gradient(to bottom, $tile-me-color, lighten($tile-me-color, 10%));
  }
  &.reach-out {
    background: linear-gradient(to bottom, $tile-reach-out-color, lighten($tile-reach-out-color, 10%));
  }
}
// What To Expect From Me
.icon-bullet-points-row {
  text-align: center;
  color: lighten($primary-text-color, 20%);
  &:not(:first-child) {
    margin-top: 3em;
  }
  i.material-icons {
    font-size: 4em;
    width: auto !important;
  }
  div {
    &:not(:last-child) {
      margin-bottom: 3em;
    }
  }
  span {
    font-size: 1.5em;
    margin-top: .5em;
  }
  div, span {
    display: block;
  }
}
// Testimonials
.carousel-container {
  overflow: hidden;
  position: relative;
  height: 300px;
  .slide {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 70px;
  }
  .slide-1 {
    left: 110%;
  }
  .slide-2 {
    left: 220%;
  }
  h2.quote {
    line-height: 1.3em;
    font-size: 1.5em;
  }
}

@media only screen and (max-width: 767px) {
  // Navigation Tiles
  .mat-grid-tile {
    height: 200px !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    position: relative;
    margin: 1em 0;
    &:first-child, &:last-child {
      background-position: 100% !important;
      background-size: cover !important;
    }
  }
  .mat-grid-list {
    display: initial;
  }
}

@media only screen and (min-width: 768px) {
  // Navigation Tiles
  .overlay {
    font-size: 3em;
    transform: translateX(110%);
    transition: .3s ease;
  }
  .mat-grid-tile {
    overflow: hidden;
    cursor: pointer;
    &:hover {
      .overlay {
        transform: translateX(0%);
      }
    }
  }
  .list-card {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.14), 0 4px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.12);
  }
  // What to Expect From Me
  .icon-bullet-points {
    display: flex;
    flex-wrap: wrap;
  }
  .icon-bullet-points-row {
    width: 100%;
    display: flex;
    justify-content: space-around;
    i.material-icons {
      font-size: 2.5em;
    }
    div {
      &:not(:last-child) {
        margin-bottom: 3em;
      }
    }
    span {
      font-size: 1.2em;
    }
  }
}
