<app-header></app-header>
<app-banner page="home" main-banner-text="Josh M Diaz" secondary-banner-text="Design.&nbsp;&nbsp;Development.&nbsp;&nbsp;Experience."></app-banner>
<div class="section">
  <div class="container">
    <h2 class="section-header">Take a Look Around</h2>
    <i class="material-icons" class="section-header-icon material-icons">keyboard_arrow_down</i>
    <div class="list-card">
      <md-grid-list cols="3" rows="1" rowHeight="300px">
        <md-grid-tile *ngFor="let tile of tiles" [colspan]="1" routerLink="{{tile.link}}" [style.background]="tile.img || tile.color" [style.background-repeat]="'no-repeat'" [style.background-position]="'50% 100%'">
          <div class="overlay {{tile.overlayClass}}">
            {{tile.text}}
          </div>
        </md-grid-tile>
      </md-grid-list>
    </div>
  </div>
</div>
<div class="gray-section">
  <div class="container">
    <h2 class="section-header">What You Can Expect From Me</h2>
    <div class="icon-bullet-points">
      <div class="icon-bullet-points-row">
        <div>
          <i class="material-icons">attach_money</i>
          <span>Affordable</span>
        </div>
        <div>
          <i class="material-icons">phone_iphone</i>
          <span>Mobile Friendly</span>
        </div>
        <div>
          <i class="material-icons">lightbulb_outline</i>
          <span>Modern Design</span>
        </div>
        <div>
          <i class="material-icons">work</i>
          <span>Experience</span>
        </div>
      </div>
      <div class="icon-bullet-points-row">
        <div>
          <i class="material-icons">motorcycle</i>
          <span>Driven</span>
        </div>
        <div>
          <i class="material-icons">screen_share</i>
          <span>Organized</span>
        </div>
        <div>
          <i class="material-icons">thumb_up</i>
          <span>Easygoing</span>
        </div>
        <div>
          <i class="material-icons">timer</i>
          <span>Prompt</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="container">
    <h2 class="section-header">What They Say About Me</h2>
    <div class="testimonials">
      <ngx-carousel [inputs]="testimonialsCarousel">
        <ngx-item NgxCarouselItem *ngFor="let testimonial of testimonials">
          <h3>{{testimonial.quote}}</h3>
          <p>- {{testimonial.author}}</p>
          <img src="{{testimonial.image}}" alt="{{testimonial.author}}">
        </ngx-item>
        <button NgxCarouselPrev class='leftRs'>&lt;</button>
        <button NgxCarouselNext class='rightRs'>&gt;</button>
      </ngx-carousel>
    </div>
  </div>
</div>
<app-footer></app-footer>
